html {
    background-color: #add8e6a4;
    font-family: 'Baloo 2';
}

p {
    font-size: 20px;
    font-family: 'Baloo 2';
}

h1 {
    font-weight: bold;
}

.section {
    padding: 30px;
    margin-top: 50px;
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: column;
    align-items: center;
}

.buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.button {
    background-color: #a8e6cf;
    height: 50px;
    width: 100px;
}

#reveal-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 11;
    margin-top: 200px;
    height: 70px;
    width: 140px;
}

#back-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

#reveal-button p {
    font-size: 22px;
}


#button-space {
    display: flex;
    justify-content: center;
}

.button p {
    margin: 0;
    color: white;
    font-size: 20px;
    font-family: 'Baloo 2';
}

.blurred {
    filter: blur(6px);
    transition: filter 0.6s ease;
}

#section-03 {
    margin-top: 50px;
}

#section-04-1 {
    position: relative;
    margin-top: 0px;
    padding-top: 0;
}

#section-04-2 {
    z-index: 10;
    margin-top: 0px;
}

p {
    color: #1e3a5f;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#hb {
    color: #a78b3e;
    font-size: 42px;
}

.image {
    width: 300px;
}

.gif {
    width: 300px;
}
